{% extends "admin/main-layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}
            <section class="user-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="card">
                           <div class="card-header d-flex">
                              <strong class="card-title">Chatbot List</strong>
                              <div class="float-right reservation-list-wrapper">
                                 <a href="/admin/chatbot/sync" class="btn btn-light user-addon">
                                   Sync Chatbots
                                 </a>
                              </div>
                           </div>
                           <div class="card-body">
                              <table id="userlistdata" class="dataTable_wrap table table-striped table-bordered">
                                 <thead>
                                    <tr>
                                       <th>S. No.</th>
                                       <th>Id</th>
                                       <th>Name</th>
                                        <th>Status</th>
                                        <th>Show</th>
                                        <th>Select Single Plan</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for chatbot in chatbots %}
                                        <tr>
                                            <td>{{chatbot.db_id}}</td>
                                            <td>{{chatbot.id}}</td>
                                            <td>{{chatbot.name}}</td>
                                            <td>{{chatbot.status}}</td>
                                            <td>{{chatbot.isActive}}</td>
                                            <td>
                                                <div class="tdIcon">
                                                    
                                                    {% if chatbot.singlePlan ===  false %}
                                                      <a href="/admin/chatbot/makeSinglePlan/{{chatbot.db_id}}" title="Click for make Active">
                                                         <i class="fa fa-check" aria-hidden="true"></i>
                                                      </a>
                                                      
                                                   {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="tdIcon">
                                                    
                                                    {% if chatbot.isActive ===  false %}
                                                      <a href="/admin/chatbot/statusUpdate/{{chatbot.db_id}}" title="Click for make Active" style="background-color: red !important">
                                                         <i class="fa fa-times" aria-hidden="true"></i>
                                                      </a>
                                                      {% else %}
                                                      <a href="/admin/chatbot/statusUpdate/{{chatbot.db_id}}" title="Click for make Inactive">
                                                         <i class="fa fa-check" aria-hidden="true"></i>
                                                   {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

{% endblock %}

{% block scriptBlock %}
    <script src="/admin/custom.js"></script>
{% endblock %}