{% extends "admin/main-layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block body %}

                <div class="profile-wrapper mt-5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="cardBox">
                                <div class="title">
                                    <h2 class="mb-2">
                                        Hello, User
                                    </h2>
                                </div>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, odit. Placeat
                                    accusamus
                                    natus harum dolorum numquam ab est qui tempora consequatur, neque aspernatur, iste
                                    odit velit
                                    eum id consequuntur ad!
                                </p>
                                <audio id="myAudio" autoplay controls preload="auto" allow="autoplay">
                                    <source
                                        src="https://file-examples.com/storage/febf69dcf3656dfd992b0fa/2017/11/file_example_WAV_1MG.wav"
                                        type="audio/mp3">
                                </audio>

                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}