{% extends "admin/auth-layout.html" %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
  <div class="sufee-login login-wrapper d-flex align-content-center flex-wrap">
        <div class="login-content-left">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="/admin/assest/images/logo-1.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <div class="login-title">
                        <h2>
                            Forgot Password
                        </h2>
                        <p>
                            No Worries, We'll Send You Password Reset Instructions.
                        </p>
                    </div>
                    <form id="loginForm" action="/admin/forgot-password" method="POST" data-schema="forgotPassword">
                        <div class="form-group mb-4">
                            <label for="loginEmail">Email address<span class="mailstar"
                                    style="color: red;">*</span></label>
                            <input type="email" value="" placeholder="Enter Email Address" class="form-control"
                                id="loginEmail" name="email" ><div class="invalid-feedback-box"></div>
                        </div>

                        <button type="submit" class="submitBtn btn btn-success btn-flat m-b-30 m-t-30 mb-4" id="b2">Find
                            Account</button>
                        <div class="fr-signup-wrapper">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i><a href="/admin/login"> Back to Log
                                In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="login-content-right">
            <div class="login-bg-wrapo">
                <img src="/admin/assest/images/login-bg2.png" alt="login">
            </div>
        </div>
    </div>

{% endblock %}
{% block scriptBlock %}
<script src="/admin/custom.js"></script>

{% endblock %}