<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- ** Title  ** -->
    <title>ChatBot || Home</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/fevicone.svg">
    <script src="/assets/libs/jquery.min.js"></script>
    <!-- **  Bootstrap Css  -->
    <link rel="stylesheet" href="/assets/libs/bootstrap/css/bootstrap.min.css">
    <!-- **  Owl Carousel Css  -->
    <link rel="stylesheet" href="/assets/libs/owl-slider/owl.carousel.min.css">
    <!-- ** Style Css  -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/assets/css/ragister/style.css">
    <link rel="stylesheet" href="/assets/css/ragister/responsive.css">
</head>
<body>
    <!-- * Header Start -->
    <nav class="navbar navbar-expand-md header" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" alt="logo"></a>
            <div class="d-flex align-items-center gap-sm-3 gap-2">
                <div class="rightside d-md-none d-flex">
                    <ul class="nevigate">
                        <li><a href="login.html" class="themebtn">Log In </a></li>
                    </ul>
                </div>
                <button class="navbar-toggler burgurMenu shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                    <span><img src="/assets/images/menu.svg" class="w-100" alt=""></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end border-0" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"><img src="/assets/images/logo.png" alt="logo"></h5>
                    <button type="button" class="btn-close shadow-none btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center align-items-md-center flex-grow-1" id="navbar">
                        <li class="nav-item active"><a class="nav-link" aria-current="page" href="javascript:;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactUs">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="chatbot.html" target="_blank">ChatBot</a></li>
                    </ul>
                    <div class="rightside d-md-flex d-none">
                        <ul class="nevigate">
                            <li><a href="login.html" class="themebtn">Log In </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- ! ** Header End -->

    <!-- ** Hero Section Start ** -->
    <section class="herosection m-0">
        <div class="container innerfluid">
            <div class="row h-100 align-items-center justify-content-between">
                <div class="col-xl-10 mx-auto">
                    <div class="row text-center">
                        <div class="col-12"><h1 class="mainheading">OpenUp AI content Make Your <span> Media Content</span> </h1></div>
                        <div class="col-xl-8 col-10 mx-auto loremtext text-white fw-normal"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime nesciunt magnam? Placeat eaque sit beatae nulla cum possimus.</div>
                        <div class="col-12">
                            <div class="row justify-content-center row-gap-2">
                                <div class="col-auto"><a href="#botplan" class="themebtn fill">Buy Now </a></div>
                                <div class="col-auto"><a href="#contactUs" class="themebtn">Contact Us</a></div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 col-11 mx-auto mt-md-5 mt-4 pt-2">
                            <div class="botimg"><img src="/assets/images/hero1.png" class="w-100" alt="botimg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--! ** Hero Section End ** -->

    <!-- ** Slider Section Start -->
    <section class="chatbotslider">
        <div class="container">
            <div class="row">
                <div class="col-12"><h2 class="heading text-center">Our ChatBots</h2></div>
                <div class="col-12">
                    <div class="owl-carousel owl-theme chatBots">
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 1</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 2</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 3</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 4</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 5</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-1">
                            <div class="card botcard">
                                <div class="card-img"><div class="botImg"><img src="/assets/images/boatblog.png" alt="botImg"></div></div>
                                <div class="card-body p-0">
                                    <div class="row row-gap-2">
                                        <div class="col-12"><h5 class="bottitleName m-0">ChatBot 6</h5></div>
                                        <div class="col-12 titleDis loremtext">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, dolor.</div>
                                        <div class="col-auto mt-3"><a href="javascript:;" class="themebtn fill">Buy Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="text-center mt-5"><a href="javascript:;" class="themebtn outlineBtn">View All Bots</a></div> -->
                </div>
            </div>
        </div>
    </section>
    <!--! ** Slider Section End -->

    <!-- ** Plan Card Section Start -->
    <section id="botplan" class="aboutusSection section_p">
        <div class="container">
            <div class="row">
                <div class="col-12"><h2 class="heading text-center">ChatBot Plans</h2></div>
         
                <div class="tab-content mt-4" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div class="row justify-content-center row-gap-4">
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="card planCard">
                                    <div class="card-body">
                                        <div class="row row-gap-4">
                                            <div class="col-12"><span class="top">Single Bot</span></div>
                                            <div class="col-12"><div class="head"><h5 class="title">$19 </h5><span>/month</span></div></div>
                                            <div class="col-12 selectBot"><h4>Selected Bot <span class="selectedBots">
                                                {% for chatbot in chatbots %}
                                                    {% if chatbot.singlePlan ===  true %}
                                                        {{chatbot.name}}
                                                    {% endif %}
                                                {% endfor %}
                                            </span></h4></div>
                                            <div class="col-12">
                                                <div class="list">
                                                    <ul class="plancategory">

                                                        {% for chatbot in chatbots %}
                                                        <li class="form-check">
                                                            {% if chatbot.singlePlan ===  false %}
                                                            <input class="form-check-input" type="radio" name="chatbot" value="{{chatbot.id}}" id="chatbot">
                                                            {% else %}
                                                            <input class="form-check-input" type="radio" name="chatbot" value="{{chatbot.id}}" id="chatbot" checked>
                                                            {% endif %}
                                                            <label class="form-check-label botnames" for="chatbot">{{chatbot.name}}</label>
                                                        </li>
                                                        {% endfor %}
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-12"><a href="javascript:;" class="themebtn w-100">Buy Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6">
                                <div class="card planCard active">
                                    <div class="currentPlan"><span>Best Seller</span></div>
                                    <div class="card-body">
                                        <div class="row row-gap-4">
                                            <div class="col-12"><span class="top">All Bots</span></div>
                                            <div class="col-12"><div class="head"><h4 class="title">$29 </h4><span>/month</span></div></div>
                                            <div class="selectBot"><h4 class="top">Selected Bot <span>All ChatBot</span></h4></div>
                                            <div class="col-12">
                                                <div class="list">
                                                    <ul class="plancategory">

                                                        {% for chatbot in chatbots %}
                                                        <li>{{chatbot.name}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-12"><a href="javascript:;" class="themebtn w-100">Buy Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                        <div class="row justify-content-center row-gap-4">
                            <div class="col-xxl-3 col-lg-4 col-md-6">
                                <div class="card planCard">
                                    <div class="card-body">
                                        <div class="row row-gap-4">
                                            <div class="col-12"><span class="top">St Rater</span></div>
                                            <div class="col-12"><div class="head"><h4 class="title">Free </h4><span>/month</span></div></div>
                                            <div class="col-12"><a href="javascript:;" class="themebtn ">Start Free Trial</a></div>
                                            <div class="col-12">
                                                <ul class="plancategory mt-4">
                                                    <li>10,000 Monthly Word Limit</li>
                                                    <li>10+ Templates</li>
                                                    <li>All types of content</li>
                                                    <li>10+ Languages</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-lg-4 col-md-6">
                                <div class="card planCard active">
                                    <div class="card-body">
                                        <div class="row row-gap-4">
                                            <div class="col-12"><span class="top">Pro</span></div>
                                            <div class="col-12"><div class="head"><h4 class="title">$29 </h4><span>/month</span></div></div>
                                            <div class="col-12"><a href="javascript:;" class="themebtn fill">Start Free Trial</a></div>
                                            <div class="col-12">
                                                <ul class="plancategory mt-4">
                                                    <li>10,000 Monthly Word Limit</li>
                                                    <li>10+ Templates</li>
                                                    <li>All types of content</li>
                                                    <li>10+ Languages</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!--! ** Plan Card Section Start -->

    <!-- ** About Us Section Start -->
    <section id="about">
        <div class="container">
            <div class="row row-gap-4 align-items-center">
                <div class="col-lg-6">
                    <div class="aboutImg text-center"><img src="/assets/images/abouts.png" alt="aboutBot"></div>
                </div>
                <div class="col-lg-6">
                    <div class="row row-gap-lg-4 row-gap-3 align-items-center">
                        <div class="col-auto"><span class="subHeading">About Us</span></div>
                        <div class="col-12"><h2 class="heading m-0">About Our ChatBots</h2></div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12"><p class="loremtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia ex vel adipisci ullam nesciunt quibusdam pariatur at accusantium cupiditate, soluta exercitationem, culpa nam. Veniam pariatur fuga harum nostrum eos.</p></div>
                                <div class="col-12"><p class="loremtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia ex vel adipisci ullam nesciunt quibusdam pariatur at accusantium cupiditate, soluta exercitationem, culpa nam. Veniam pariatur fuga harum nostrum eos.</p></div>
                            </div>
                        </div>
                        <!-- <div class="col-auto">
                            <div class="rating">
                                <img src="/assets/images/star.svg" alt="start">
                                <img src="/assets/images/star.svg" alt="start">
                                <img src="/assets/images/star.svg" alt="start">
                                <img src="/assets/images/star.svg" alt="start">
                                <img src="/assets/images/star.svg" alt="start">
                            </div>
                        </div>
                        <div class="col loremtext m-0">Based on 10,000+ reviews</div> -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ! ** About Us Section End -->

    <!--** Contact Us Section Start -->
    <section class="section_p contectUsSection mb-0" id="contactUs">
        <div class="container">
            <div class="headings"><h2 class="heading">Get In Touch</h2></div>
            <div class="row row-gap-3">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="login-form p-0">
                        <form id="loginForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="firstName">First Name<span class="mailstar" style="color: red;">*</span></label>
                                        <input type="text" value="" placeholder="Enter first name" class="form-control" id="firstName" name="firstName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label for="lastName">Last Name<span class="mailstar" style="color: red;">*</span></label>
                                    <input type="text" value="" placeholder="Enter last name" class="form-control" id="lastName" name="lastName">
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="email">Email address<span class="mailstar" style="color: red;">*</span></label>
                                        <input type="email" value="" placeholder="Enter email address" class="form-control" id="email" name="email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <label for="phone">Phone Number<span class="mailstar" style="color: red;">*</span></label>
                                        <input type="tel" value="" placeholder="Enter phone number" class="form-control" id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group mb-4">
                                        <label for="message">Message<span class="mailstar" style="color: red;">*</span></label>
                                        <textarea type="number" value="" placeholder="Enter message" class="form-control w-100" rows="7" id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <div class="forgot-wrapper mb-4">
                                        <label>
                                            <input type="checkbox"> I agree to all Term, Privacy Policy and Fees
                                        </label>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                    <button type="submit" class="themebtn">Contact Us</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <div class="card contactInfoCard">
                        <div class="card-body">
                            <div class="row row-gap-sm-4 row-gap-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12"><h3 class="titles mb-1">Contact Info</h3></div>
                                        <div class="col-12"><p class="loremtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sit fuga explicabo, iste ducimus dolorem.</p></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <ul class="info">
                                        <li><span class="contactImg"><img src="/assets/images/phone-call.svg" alt="phone-call"></span> <div class="labels">Phone <span>866-566-5577</span></div></li>
                                        <li><span class="contactImg"><img src="/assets/images/mail.svg" alt="phone-call"></span> <div class="labels">Email <span>Company@mail.com</span></div></li>
                                        <li><span class="contactImg"><img src="/assets/images/map-pin.svg" alt="phone-call"></span> <div class="labels">location <span>11201 N Tatum Blvd Ste 300 #464056 Phoenix, AZ 85028</span></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--! ** Contact Us Section Start -->

    <!-- * Footer Section Start -->
    <section class="footer my-0">
        <div class="container">
            <div class="paymentsource">
                <div class="row">
                    <div class="col-12"><p class="copyright text-center">© Copyrights <span id="year"></span> ChatBot | All Rights Reserved.</p></div>
                </div>
            </div>
        </div>
    </section>
    <!--! * Footer Section End -->


    
    <!-- ** Script Links Start ** -->
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/owl-slider/owl.carousel.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- ** Script Links End ** -->
    <script>
        $(".nav-item").click(function(){
        $(this).addClass('active')
        $(this).siblings().removeClass('active')
        })
    </script>
    <script>
        // Get all elements with the class 'class-name-1'.
            let sourceElements = document.getElementsByClassName('botnames');

            // Replace 'class-name-2' with the name of your target class.
            let targetElement = document.getElementsByClassName('selectedBots')[0];

            // Replace 'active' with the name of your active class.
            let activeClass = 'active';

            for(let i = 0; i < sourceElements.length; i++) {
                sourceElements[i].addEventListener('click', function() {
                    // Remove the active class from all elements.
                    for(let j = 0; j < sourceElements.length; j++) {
                        sourceElements[j].classList.remove(activeClass);
                    }

                    // Add the active class to the clicked element.
                    this.classList.add(activeClass);

                    // Update the target element's text content.
                    targetElement.textContent = this.textContent;
                });
            }

            function submitContactForm(){
                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var message = $('#message').val();
                var data = {
                    firstName: firstName,
                    lastName: lastName,
                    email: email,
                    phone: phone,
                    message: message
                }
                $.ajax({
                    url: '/contact-us',
                    type: 'POST',
                    data: data,
                    success: function(response){
                        console.log(response);
                        if(response.status == 'success'){
                            alert('Your message has been sent successfully');
                            $('#loginForm')[0].reset();
                        }else{
                            alert('Something went wrong');
                        }
                    }
                })
            }
            $('#loginForm').submit(function(e){
                e.preventDefault();
                submitContactForm();
            })
            
    </script>
    <script>
        // Copyright Year Change
        document.getElementById("year").innerHTML = new Date().getFullYear();
    </script>
</body>
</html>